@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none !important;
}

::-webkit-scrollbar {
  display: none !important;
}

img {
  transition: transform 0.5s;
}

.icon {
  --tw-text-opacity: 1 !important;
  color: rgb(59 183 126 / var(--tw-text-opacity)) !important;
}

.MuiTooltip-tooltip {
  --tw-text-opacity: 1 !important;
  background-color: rgb(59 183 126 / var(--tw-text-opacity)) !important ;
}
.MuiTooltip-tooltipArrow {
  --tw-text-opacity: 1 !important;
  background-color: rgb(59 183 126 / var(--tw-text-opacity)) !important;
}
.MuiTooltip-arrow {
  --tw-text-opacity: 1 !important;
  color: rgb(59 183 126 / var(--tw-text-opacity)) !important;
}

.options {
  display: none;
}
.card:hover .options {
  display: flex;
}

.banner-img {
  background-image: url("../../public/banner-4.png");
  background-position: center;
  background-size: cover;
}
.banner-img10 {
  background-image: url("../../public/banner-10-min.png");
  background-position: center;
  background-size: cover;
}
.banner-img9 {
  background-image: url("../../public/banner-9-min.png");
  background-position: center;
  background-size: cover;
}

.transition {
  transition: 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.label-line::before {
  content: " ";
  height: 2px;
  background-color: #3bb77d54;
  width: 124px;
  position: absolute;
}
.transition1 {
  transition: 0.3s all ease-out !important;

}

.rotate{
  transform: rotateX(66deg) rotateY(-1deg) !important;
}